<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Request Queue</title>
    <script src="angular.js"></script>
    <script src="angular-mocks.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="defaultCtrl">
<button ng-click="buttonClicked()">Click Once</button>
&nbsp;
<button ng-click="clickTwice()">Click Twice</button>
<button ng-click="clickThreeTimes(200)">Click Three Times Fast</button>
<button ng-click="clickThreeTimes(1000)">Click Three Times Slow</button>
<ul>
    <li ng-repeat="item in items">{{item}}</li>
</ul>
</body>
</html>
