<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Request Queue</title>
    <script src="angular.js"></script>
    <script src="angular-mocks.js"></script>
    <script>
        angular.module("exampleApp", ["ngMockE2E"])
                // delay code is borrowed from
                // https://endlessindirection.wordpress.com/2013/05/18/angularjs-delay-response-from-httpbackend/
                // Also see
                // http://plnkr.co/edit/lj9srM2KXZmwmTxLb1p7?p=preview
                .config(function ($provide) {
                    $provide.decorator('$httpBackend', function ($delegate) {
                        var proxy = function (method, url, data, callback, headers) {
                            var interceptor = function () {
                                var _this = this,
                                        _arguments = arguments;
                                setTimeout(function () {
                                    callback.apply(_this, _arguments);
                                }, 1500);
                            };
                            return $delegate.call(this, method, url, data, interceptor, headers);
                        };
                        proxy.whenGET = $delegate.whenGET;
                        return proxy;
                    });
                })
                .run(function ($httpBackend) {
                    $httpBackend.whenGET('index.html').respond(function () {
                        return [200, '', {}];
                    });
                })
                .controller("defaultCtrl", function ($scope, $http, $q) {
                    $scope.items = [];
                    $scope.showDetails = false;
                    var pageLoadTime = Date.now();
                    var updatex = function (label) {
                        if ($scope.showDetails) {
                            update(label);
                        }
                    };
                    var update = function (label) {
                        var rv = Date.now() - pageLoadTime;
                        $scope.items.push(rv + ' ' + label);
                        while ($scope.items.length > 30) {
                            $scope.items.shift();
                        }
                        return rv;
                    };
                    var nextRequestData = null;
                    var pendingRequest = null;
                    var deferred = null;
                    var sendRequest = function(config) {
                        updatex("sendRequest ("+config.clickTime+")");
                        if ( pendingRequest !== null ) {
                            if ( deferred !== null ){
                                updatex('deferred.reject 1');
                                deferred.reject();
                            }
                            nextRequestData = angular.copy(config);
                            deferred = $q.defer();
                            return deferred.promise;
                        } else {
                            config.transformResponse = function (data, headers) {
                                updatex("TransformResponse");
                                if ( deferred !== null ) {
                                    data = 'ignore';
                                }
                                return data;
                            };
                            update("$http.get ("+config.clickTime+")");
                            pendingRequest = $http.get("index.html", config);
                            pendingRequest.finally(function () {
                                updatex('pendingRequest.finally');
                                pendingRequest = null;
                                if ( deferred !== null ){
                                    var d2 = deferred;
                                    deferred = null;
                                    var promise = sendRequest(nextRequestData);
                                    promise.then(function (result) {
                                        updatex('deferred.resolve');
                                        d2.resolve(result);
                                    }, function () {
                                        updatex('deferred.reject 2');
                                        d2.reject(result);
                                    });
                                    promise.finally(function(){
                                        updatex('cleanup');
                                        nextRequestData = null;
                                        deferred = null;
                                    });
                                }
                            });
                            return pendingRequest;
                        }
                    };
                    $scope.clearList = function () {
                        $scope.items = [];
                        pageLoadTime = Date.now();
                    };
                    $scope.buttonClicked = function () {
                        var clickTime = update("Click");
                        var config = {clickTime: clickTime};
                        var promise = sendRequest(config);
                        if (promise !== null) {
                            promise.then(function (response) {
                                update("Success "+response.config.clickTime+" "+response.data);
                            }, function () {
                                update("Error");
                            });
                        } else {
                            update("Error Error Error: null promise returned");
                        }
                    };
                    $scope.clickTwice = function() {
                        $scope.clearList();
                        pageLoadTime = Date.now();
                        $scope.buttonClicked();
                        setTimeout(function(){
                            $scope.buttonClicked();
                        }, 200);
                    };
                    $scope.clickThreeTimes = function(delay) {
                        $scope.clearList();
                        $scope.buttonClicked();
                        setTimeout(function(){
                            $scope.buttonClicked();
                            setTimeout(function(){
                                $scope.buttonClicked();
                            }, delay);
                        }, delay);
                    };

                });
    </script>
</head>
<body ng-controller="defaultCtrl">
<button ng-click="clearList()">Clear</button>
<button ng-click="buttonClicked()">Click Once</button>
&nbsp;
<button ng-click="clickTwice()">Click Twice</button>
<button ng-click="clickThreeTimes(200)">Click Three Times Fast</button>
<button ng-click="clickThreeTimes(1000)">Click Three Times Slow</button>
&nbsp;
<label><input type="checkbox" ng-model="showDetails" />Show Details</label>
<ul>
    <li ng-repeat="item in items">{{item}}</li>
</ul>
</body>
</html>
