<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link rel="stylesheet" href="style.css">
    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="typeahead.bundle.js"></script>
    <script src="angular-typeahead.js"></script>
    <script src="app.js"></script>

</head>

<body ng-controller="MainCtrl">
<p>Model Non Editable: {{selectedNumberNonEditable|json}} </p>
<input class='typeahead'
       type="text"
       sf-typeahead
       options="exampleOptionsNonEditable"
       datasets="numbersDataset"
       ng-model="selectedNumberNonEditable">
<br>
<br>
<button type="button" ng-click="clearValue()">Clear value to null</button>
</body>

</html>